<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Atlantis | Home</title>

    <!-- font icons -->
    <link rel="stylesheet" href="../../static/lib/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="../../static/css/home/style.css">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#home">Atlantis project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonial">Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-sm ml-lg-3" href="/demo">Thử ngay</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h6 class="subtitle">Vì không ai bị bỏ lại phía sau</h6>
            <h1 class="title">Atlantis engine</h1>
            <div class="buttons text-center">
                <a href="https://github.com/iotran207/Atlantis" class="btn btn-primary rounded w-lg btn-lg my-1">Mã nguồn mở</a>
                <a href="" class="btn btn-outline-light rounded w-lg btn-lg my-1">Tài liệu chính thức</a>
            </div>              
        </div>      
    </header>
    <!-- End Of Page Header -->

    <!-- Box -->
    <div class="box text-center">
        <div class="box-item">
            <i class="ti-vector"></i>
            <h6 class="box-title">Hoàn toàn miễn phí</h6>
            <p>Toàn bộ mã nguồn dự án được công khai trên nền tảng github hoàn toàn miễn phí dành cho tất cả mọi người.</p>
        </div>
        <div class="box-item">
            <i class="ti-filter"></i>
            <h6 class="box-title">Khả năng mở rộng không giới hạn</h6>
            <p>Mã nguồn mở cho phép các nhà phát triển, người dùng tạo ra một phiên bản ứng dụng từ phiên bản gốc của dự án với những cải biến và tùy chỉnh.</p>
        </div>
        <div class="box-item">
            <i class="ti-mobile"></i>
            <h6 class="box-title">Thích hợp nhiều thiết bị</h6>
            <p>Ngoài ra dự án còn hỗ trợ API chính thức để giảm thời gian phát triển cho nhà phát triển và có thể sử dụng trên nhiều nền tảng khác nhau như là điện thoại, máy tính,...</p>
        </div>
    </div>
    <!-- End of Box -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="../../static/img/home/chauaukhiemthinh.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page" class="w-100 img-thumbnail mb-3">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">SỨ MỆNH</h6>
                    <h6 class="section-title mb-3">Vì không ai bị bỏ lại phía sau.</h6>
                    <p>&#x2022 Theo Tổng điều tra dân số và nhà ở Việt Nam năm 2019: chỉ có 16,2% người khiếm thính từ 5 đến 64 tuổi đạt trình độ học vấn THPT trở lên, so với 38,5% dân số chung.</p>
                    <p>&#x2022 Tỷ lệ thất nghiệp của người khiếm thính cao gấp 4 lần so với người bình thường: Theo Bộ Lao động - Thương binh và Xã hội, tỷ lệ thất nghiệp của người khiếm thính là 16,8%, trong khi tỷ lệ thất nghiệp chung chỉ là 4%.</p>
                    <p>&#x2022 Nghiên cứu của Trung tâm Nghiên cứu & Phát triển Khuyết tật Việt Nam năm 2021: 72% trẻ em khiếm thính không được học hòa nhập tại trường phổ thông, 28% học tại các trường chuyên biệt, và chỉ 0,02% học hòa nhập thành công.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->

    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-subtitle">Bạn có thể sẽ muốn biết.</h6>
            <h6 class="section-title mb-6">Công nghệ mà chúng tôi sử dụng.</h6>
            <div class="widget mb-4">
                <div class="widget-item">
                    <i class="ti-notepad"></i>
                    <h4>OPEN-CV</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-layout"></i>
                    <h4>MEDIAPIPE</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-filter"></i>
                    <h4>PICKLE</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-thumb-up"></i>
                    <h4>FASTAPI</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of About Sectoin -->

    <section class="has-bg-img py-0">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="../../static/img/home/logo.png" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                                <h6>Creative Studio</h6>
                            </a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae nobis fugit maxime deleniti minus optio accusamus, quam maiores explicabo sunt.</p> 
                            <p class="mt-3">
                                Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="http://www.devcrud.com">DevCRUD</a>
                            </p>                   
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">USEFUL LINKS</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="#about">About</a>
                                </div>
                                <div class="col">
                                    <a href="#team">Team</a>
                                    <a href="#blog">Blog</a>
                                    <a href="#">Faq</a>
                                    <a href="#">Privacy Policy</a>                  
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p>Contact us and we'll get back to you within 24 hours.</p>
                            <p><i class="ti-location-pin"></i> 12345 Fake ST NoWhere AB Country</p>
                            <p><i class="ti-email"></i>  info@website.com</p>
                            <div class="social-links">
                                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
        </div>
    </section>

    <!-- core  -->
    <script src="../../static/lib/jquery/jquery-3.4.1.js"></script>
    <script src="../../static/lib/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="../../static/lib/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Studio js -->
    <script src="../../static/js/home/main.js"></script>

</body>
</html>
